html,
body,
#root {
  height: 100%;
  font-family: 'Microsoft YaHei', 'Open Sans', 'PingFang SC', 'Helvetica Neue', 'Hiragino Sans GB',
    'WenQuanYi Micro Hei', Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.am-toast {
  font-size: 28px;
}
